<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>

<body>

<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <div style="text-align: center;">STOCK PREDICTOR</div>

        <d1>
            <dt>If you had picked May 2015, world stock market of Bombay, world high performance and stock high performance, the results will be:</dt>
            <dd>-----------------------------------</dd>
            <dd>For May 2015 the best performance day for Bombay stock market was May 8th. The best performing stock was Google Inc. on this day.</dd>
            <dd>***********************************</dd>
            <dt>If you had picked May 2015, world stock market of Bombay, world low performance and stock low performance, the results will be:</dt>
            <dd>-----------------------------------</dd>
            <dd>For May 2015 the lowest performance day for Bombay stock market was May 6th. The lowest performing stock was IBM on this day.</dd>
        </d1>
        <a href="javascript:history.go(-1);">Back</a>
    </div>

    <div th:replace="template :: footer"></div>

</div>

</body>

</html>