<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>

<body>

<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <div style="text-align: center;">STOCK PREDICTOR</div>

        <d1>
            <dt>If you had picked May 2015 and a world stock market of Bombay, the results will be:</dt>
            <dd>-----------------------------------</dd>
            <dd>The closing prices for Bombay Stock Market in May 2015</dd>
            <dd>May 1, 2015  - 27011</dd>
            <dd>May 4, 2015  - 27491</dd>
            <dd>May 5, 2015  - 27440</dd>
            <dd>May 6, 2015  - 26717</dd>
            <dd>May 7, 2015  - 26599</dd>
            <dd>May 8, 2015  - 27105</dd>
            <dd>May 11, 2015 - 27507</dd>
            <dd>May 12, 2015 - 26877</dd>
            <dd>May 13, 2015 - 27251</dd>
            <dd>May 14, 2015 - 27206</dd>
            <dd>May 15, 2015 - 27324</dd>
            <dd>May 18, 2015 - 27687</dd>
            <dd>May 19, 2015 - 27646</dd>
            <dd>May 20, 2015 - 27837</dd>
            <dd>May 21, 2015 - 27809</dd>
            <dd>May 22, 2015 - 27958</dd>
            <dd>May 26, 2015 - 27531</dd>
            <dd>May 27, 2015 - 27565</dd>
            <dd>May 28, 2015 - 27507</dd>
            <dd>May 29, 2015 - 27828</dd>
        </d1>
        <a href="javascript:history.go(-1);">Back</a>
    </div>

    <div th:replace="template :: footer"></div>

</div>

</body>

</html>