<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>

<body>

<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <div style="text-align: center;">STOCK PREDICTOR</div>

        <d1>
            <dt>If you had picked May 2015 and stock of CSCO - Cisco Systems, Inc., the results will be:</dt>
            <dd>-----------------------------------</dd>
            <dd>The opening prices for Cisco Systems, Inc in May 2015</dd>
            <dd>May 1, 2015  - 28.81</dd>
            <dd>May 4, 2015  - 29.08</dd>
            <dd>May 5, 2015  - 29.17</dd>
            <dd>May 6, 2015  - 28.90</dd>
            <dd>May 7, 2015  - 28.99</dd>
            <dd>May 8, 2015  - 28.99</dd>
            <dd>May 11, 2015 - 29.50</dd>
            <dd>May 12, 2015 - 29.07</dd>
            <dd>May 13, 2015 - 29.14</dd>
            <dd>May 14, 2015 - 29.29</dd>
            <dd>May 15, 2015 - 29.24</dd>
            <dd>May 18, 2015 - 29.42</dd>
            <dd>May 19, 2015 - 29.87</dd>
            <dd>May 20, 2015 - 29.80</dd>
            <dd>May 21, 2015 - 29.61</dd>
            <dd>May 22, 2015 - 29.39</dd>
            <dd>May 26, 2015 - 29.19</dd>
            <dd>May 27, 2015 - 29.06</dd>
            <dd>May 28, 2015 - 29.34</dd>
            <dd>May 29, 2015 - 29.32</dd>
         </d1>
        <a href="javascript:history.go(-1);">Back</a>
    </div>

    <div th:replace="template :: footer"></div>

</div>

</body>

</html>